{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<br/>
<h1 align="center">Enter your Courses for Spring 2022</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <div class="form-group">
    <label for="data">Course (ex: MATH 2300)</label>
    <input
      type="data"
      class="form-control"
      id="data"
      name="data"
      placeholder="Enter course"
    />
  </div>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Course</button>
  </div>
</form>
<br/>
<form action="/schedule" method="post">
  <div align="center">
    <button type="submit" class="btn btn-primary">Generate Schedule</button>
  </div>
</form>
{% endblock %}